@page
@model Customer.ASPNETCore.UI.Pages.CarListViewModel

<h3>Car List</h3>

<table>
    <thead>
        <tr>
            <th>Brand</th>
            <th>Make</th>
            <th>Model</th>
        </tr>
    </thead>
    @foreach (var car in Model.Cars)
    {
        <tr>
            <td width="100">@car.Brand</td>
            <td width="100">@car.Make</td>
            <td width="100">@car.Model</td>
        </tr>
    }
</table>
<br />
Welcome to the Car List example.
<br />
We will be enhancing this page...  The Car List Page currently uses concrete implmenations from our Business Libraries..  If this project continues, we plan on enhancing it so 
that these classes are injected in as well as passing in a value from the 'appsettings.json' file.  