@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Pluralsight ASP.NET Core Dependency Injection Project </h1>
    <br/>
    <p>Learn more about using the default built in dependency injection  <a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-3.1" target="_blank">Dependency injection in ASP.NET Core</a>.</p>
</div>

<Counter />

